<!-- <div class="text-center">
  <app-login></app-login>
</div> -->

<!-- <mat-menu #appMenu="matMenu">
  <button mat-menu-item>הגרלה נוכחות</button>
  <button mat-menu-item>תוצאות 2017</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button> -->
<div class="top-tri"></div>
<div class="content" *ngIf="!showLoader">

  <div class="countdown">
    <div class="title">אלי דבי בעוד</div>
    <countdown-timer [end]="'2018-09-07 15:00:00'"></countdown-timer>
  </div>
  <div class="present">
    <button class="btn btn-primary" (click)="showLottery()">תוצאות ההגרלה</button>
    <app-random-words *ngIf="isShowLottery" [words]="members"></app-random-words>
    <div class="draw" *ngIf="isShowDraw" [@enterAnimation] (click)="clickCounter()">{{draw}}ttt</div>
    <img src="../assets/easter_egg.gif" alt="" class="egg" *ngIf="showEgg">
  </div>
</div>
<div class="bottom-tri"></div>